:root {
	--toastify-toast-width: 360px;
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--primary-app-bg: #f3f5f7;
	--primary-sidebar-bg: #ffffff;
	--primary-card-bg: #ffffff;
	--secondary-text-color: rgba(47, 72, 88, 0.7);
	--primary-glow: conic-gradient(from 180deg at 50% 50%,
			#16abff33 0deg,
			#0885ff33 55deg,
			#54d6ff33 120deg,
			#0071ff33 160deg,
			transparent 360deg);
	--secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0));

	--tile-start-rgb: 239, 245, 249;
	--tile-end-rgb: 228, 232, 233;
	--tile-border: conic-gradient(#00000080,
			#00000040,
			#00000030,
			#00000020,
			#00000010,
			#00000010,
			#00000080);

	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;

	--primary-green: #5fa452;
	--hover-green: #78b864;
	--active-green: #3e6b34;
	--disable-green: #5fa452;
	--mint-cream: #f2fef0;

	--primary-yellow: #ebc005;
	--hover-yellow: #ffd000;
	--active-yellow: #ffd000;
	--disable-yellow: #ebc005;
	--mint-cream-yellow: #fffbe9;

	--placeholder-text: rgba(47, 72, 88, 0.5);
	--searchIcon-color: #2f4858;
	--light-gray: #dadbde;
	--medium-gray: #a0aec0;
	--primary-font: #2f4858;
	--primary-blue: #599cff;
	--modal-font: #1e3c72;
	--input-placeholder-text: #b4b7be;
	--input-border: #d9d9d9;
	--white: #fff;
	--text-red: #eb5656;
	--hover-red: #d63030;
	--active-red: #d63030;
	--text-orange: #ffad31;
	--error: #eb0f0a;
	--error-border: #eb0f0a;
	--primary-text: #283238;

	--btn-border-radius: 6px;
	--form-border-radius: 8px;

	/* for theme */
	--text-hint: #2f4858;
	--text-warning: #eb5656;
	--text-primary: #283238;
	--text-secondary: #2f4858;

	--table-bg: #ffffff;
	--table-selected-row: #ebc005;
	--button-main: #ffd000;
	--button-contrast-text: #ffffff;
	--primary-main: #ebc005;
	--secondary-main: rgba(47, 72, 88, 0.7);
	--card-bg: #ffffff;
	--default-bg: #ffffff;
	--sidebar-bg: #ffffff;
}

[data-theme="tossakan"] {
	--text-hint: #849098;
	--text-warning: #eb5656;
	--text-primary: #2f4858;
	--text-secondary: #637480;

	--table-bg: #ffffff;
	--table-selected-row: #f2fef0;
	--button-main: #5fa452;
	--button-contrast-text: #ffffff;
	--primary-main: #5fa452;
	--secondary-main: #f2fef0;
	--card-bg: #ffffff;
	--default-bg: #f3f5f7;
	--sidebar-bg: #ffffff;
}

[data-theme="nexstack"] {
	--text-hint: #849098;
	--text-warning: #eb5656;
	--text-primary: #2f4858;
	--text-secondary: #637480;

	--table-bg: #ffffff;
	--table-selected-row: #f1fdff;
	--button-main: #1fa6b8;
	--button-contrast-text: #ffffff;
	--primary-main: #1fa6b8;
	--secondary-main: #f1fdff;
	--card-bg: #ffffff;
	--default-bg: #f3f5f7;
	--sidebar-bg: #ffffff;
}

[data-theme="prosegur"] {
	--text-hint: #2f4858;
	--text-warning: #eb5656;
	--text-primary: #283238;
	--text-secondary: #2f4858;

	--table-bg: #ffffff;
	--table-selected-row: #3e6b34;
	--button-main: #cac227;
	--button-contrast-text: #ffffff;
	--primary-main: #e7e308;
	--secondary-main: rgba(47, 72, 88, 0.7);
	--card-bg: #ffffff;
	--default-bg: #ffffff;
	--sidebar-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
		--secondary-glow: linear-gradient(to bottom right,
				rgba(1, 65, 255, 0),
				rgba(1, 65, 255, 0),
				rgba(1, 65, 255, 0.3));

		--tile-start-rgb: 2, 13, 46;
		--tile-end-rgb: 2, 5, 19;
		--tile-border: conic-gradient(#ffffff80,
				#ffffff40,
				#ffffff30,
				#ffffff20,
				#ffffff10,
				#ffffff10,
				#ffffff80);

		--callout-rgb: 20, 20, 20;
		--callout-border-rgb: 108, 108, 108;
		--card-rgb: 100, 100, 100;
		--card-border-rgb: 200, 200, 200;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background: var(--primary-app-bg);
}

body {
	color: #000;
	background: #f3f5f7;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Remove default styles */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 5px;
	border: none;
	background-color: var(--white);
	border-radius: 4px;
	color: var(--primary-font);
	font-size: 14px;
	box-shadow: 0 2px 5px var(--primary-glow);
	transition: border-color 0.2s, background-color 0.2s;
}

/* Hover effect */
select:hover {
	border-color: var(--medium-gray);
}

/* Focus effect */
select:focus {
	outline: none;
	border-color: var(--primary-blue);
	box-shadow: 0 2px 5px rgba(1, 65, 255, 0.3);
}

/* Custom color for selected date and today's date */
.react-datepicker__day--selected,
.react-datepicker__day--today::after {
	background-color: #ebc005 !important;
	color: #fff !important;
	border-radius: 50%;
}

/* Remove default blue color for selected date */
.react-datepicker__day--selected:not(.react-datepicker__day--today)::after {
	background-color: #ebc005 !important;
	content: "";
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #dee2e6;
	border-radius: 20px;
	border: 7px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #dee2e6;
}

/* styling for input type time clock icon */
input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(90deg);
}

input[type="time"] {
	color-scheme: dark;
}

/* input autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* hide updown arrow in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.primaryBtn {
	border-radius: 6px;
	background: var(--primary-main);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
		0px 4px 6px 0px rgba(50, 50, 93, 0.11);
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	border: none;
	outline: none;
	color: var(--mint-cream-yellow);
	transition: all 300ms ease-out;
}

.secondaryBtn {
	border-radius: 6px;
	border: 1px solid var(--primary-yellow);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
		0px 4px 6px 0px rgba(50, 50, 93, 0.11);
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	outline: none;
	color: var(--primary-yellow);
	transition: all 300ms ease-out;
}

.regularBtn {
	padding: 12px 24px;
	font-size: 16px;
	background-color: var(--card-bg);
	color: var(--primary-font);
	border: none;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
		0px 4px 6px 0px rgba(50, 50, 93, 0.11);
	border-radius: 6px;
}

.accordion-button::after {
	background-image: url("../assets/icons/dropdown.svg") !important;
	width: 20px !important;
	height: 10px !important;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("../assets/icons/dropdown.svg") !important;
}

.accordion-button:focus {
	border-color: transparent !important;
	box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
	background-color: var(--mint-cream-yellow, #fefef0) !important;
}

#tossakan {
	--primary-green: #5fa452;
	--hover-green: #78b864;
	--active-green: #3e6b34;
	--mint-cream: #f2fef0;
	--placeholder-text: rgba(47, 72, 88, 0.5);
	--searchIcon-color: #2f4858;
	--light-gray: #dadbde;
	--medium-gray: #a0aec0;
	--primary-font: #2f4858;
	--primary-blue: #599cff;
	--modal-font: #1e3c72;
	--input-placeholder-text: #b4b7be;
	--input-border: #d9d9d9;
	--white: #fff;
	--text-red: #eb5656;
	--text-orange: #ffad31;
	--error-border: #eb0f0a;
	--primary-text: #283238;
}

#nexstack {
	--primary-green: #dd6216;
	--hover-green: #20318d;
	--active-green: #3e6b34;
	--mint-cream: #f2fef0;
	--placeholder-text: rgba(47, 72, 88, 0.5);
	--searchIcon-color: #2f4858;
	--light-gray: #dadbde;
	--medium-gray: #a0aec0;
	--primary-font: #2f4858;
	--primary-blue: #599cff;
	--modal-font: #1e3c72;
	--input-placeholder-text: #b4b7be;
	--input-border: #d9d9d9;
	--white: #fff;
	--text-red: #eb5656;
	--text-orange: #ffad31;
	--error-border: #eb0f0a;
	--primary-text: #283238;
}

.form-control:focus {
	border: 1px solid #dee2e6;
	outline: none;
	box-shadow: none !important;
}

/* react pro sidebar */
.ps-sidebar-container {
	overflow-y: hidden !important;
}

.ps-menu-root {
	height: 90%;
	overflow-y: scroll;
}

.css-16jesut>.ps-menu-button,
.css-1t8x7v1>.ps-menu-button {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.css-1tqrhto>.ps-menu-button {
	padding-left: 35px !important;
}

.ps-menu-root div .ps-menuitem-root .ps-submenu-content.ps-open {
	overflow: hidden !important;
}

.ps-submenu-content.ps-open .ps-menuitem-root {
	font-size: 14px;
}

.ps-submenu-content ul {
	background: #f9f9f9b3;
}

.ps-menu-button:focus-visible {
	outline: none;
}

/* .btn-secondary {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.popover {
  width: 300px;
  border: 0.3px solid var(--text-warning);
} */
.modal-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.Toastify__toast-icon {
	margin-inline-end: 10px;
}

.Toastify__toast {
	border-radius: 10px;
}
