/* cursor pointer */
.pointer {
  cursor: pointer;
}

/* pagination entries text */
.entriesText {
  color: #718096;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
  flex: 1 1 0%;
}

.entriesTextHide {
  opacity: 0;
}

.addBtn {
  align-self: flex-start;
  padding: 12px;
  flex-shrink: 1px;
  border-radius: 4px;
  background: var(--primary-yellow);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.42px;
  transition: all 300ms ease-out;
}

.deleteBtn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--text-warning);
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.deleteBtn:hover {
  color: var(--hover-red);
}

.deleteBtn:active {
  color: var(--active-red);
}

.disabledDeleteBtn {
  display: none;
}

.disabledDeleteBtn:hover {
  cursor: not-allowed;
}

/* for elements related with search */
.searchWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  padding: 12px 20px;
}

.searchInput {
  width: 100%;
  background: #fff;
  padding: 12px 45px;
  color: var(--black);
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
    0px 4px 6px 0px rgba(50, 50, 93, 0.11);
  border: 1px solid #fff;
  outline: none;
}

.searchInputWithoutIcon {
  composes: searchInput;
  padding: 12px 10px;
}

.searchInput:focus {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.searchInput::placeholder {
  color: var(--placeholder-text);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.searchBtn {
  border-radius: 6px;
  background: var(--primary-yellow);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
    0px 4px 6px 0px rgba(50, 50, 93, 0.11);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: var(--mint-cream-yellow);
  transition: all 300ms ease-out;
}

.searchBtn:hover,
.addBtn:hover {
  background: var(--hover-yellow);
}

.searchBtn:active,
.addBtn:active {
  background: var(--active-yellow);
}

.disabledBtn {
  opacity: 0.3;
  background: var(--primary-yellow);
}

.resetBtn {
  padding-right: 25px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: #00f;
  cursor: pointer;
}

.resetBtn span {
  margin-right: 8px;
}

.selectBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 12px;
  box-shadow: 0px 4px 4px rgba(117, 139, 154, 0.08);
  border-radius: 8px;
  border: 1px solid gray;
  background: white;
  color: var(--primary-text);
  /* background-image: url(${arrow});
  background-repeat: no-repeat;
  background-position: calc(100% - 1.25rem) center; */
}

.selectBox:focus {
  border: 1px solid gray;
  outline: none;
}

.no-arrow {
  -webkit-appearance: textfield;
  appearance: textfield;
}

/* Hide the increment and decrement buttons in Chrome, Safari, and Edge */
.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.removeBtnProps {
  border: none;
  background: none;
  outline: none;
  flex-shrink: 0;
}

/* table style */
.tableWrapper table {
  margin-bottom: 0;
  table-layout: auto;
}

.tableWrapper thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* .tableWrapper tbody tr:nth-of-type(even) td {
  background-color: var(--mint-cream-yellow);
} */

.tableWrapper thead tr th {
  background-color: #fff;
  color: rgba(47, 72, 88, 0.7);
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

.tableWrapper thead th:first-child {
  border-left: 3px solid white;
}

.tableWrapper tbody tr td {
  font-size: 16px;
  font-weight: 400;
  color: #283238;
}

.tableWrapper td:first-child {
  border-left: 3px solid white;
}

.tableRow {
  vertical-align: middle;
}

.selectedRow td {
  vertical-align: middle;
  background-color: var(--mint-cream-yellow) !important;
}

.selectedRow td:first-child {
  border-left: 3px solid var(--primary-yellow);
}

.disabledRow td {
  vertical-align: middle;
  background-color: var(--light-gray) !important;
}

.tableCheckBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableCheckBox input {
  width: 22px;
  height: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 3px solid var(--medium-gray);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.tableCheckBox input:checked {
  border: none;
  background-image: url("../../assets/image/tickIcon.jpg");
}

.tableRadioBtn {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--primary-yellow);
  border-radius: 50%;
}

.tableRadioBtn::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0.9375em;
  height: 0.9375em;
  margin: 3px;
}

.tableRadioBtn:checked::after {
  background-color: var(--primary-yellow);
}

.tableImageContainer {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.image {
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
}

/* action column from tables */
.dropdown {
  text-align: center;
}

.dropdownToggle,
.dropdownToggle:hover {
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
}

.dropdownToggle:focus,
.dropdownToggle:active {
  border: none;
  background-color: transparent !important;
  box-shadow: none;
}

.dropDownMenu {
  box-shadow: 0px 0px 32px rgba(149, 168, 181, 0.15);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  position: fixed !important;
}

.dropDownMenu button {
  padding: 10px 15px;
  border-top: 1px solid var(--light-gray);
  outline: none;
}

.dropDownMenu button:first-child {
  border-top: none;
  border-radius: 8px 8px 0 0;
}

.dropDownMenu button:last-child {
  border-radius: 0 0 8px 8px;
}

.dropDownMenu button span {
  margin-right: 10px;
  color: var(--primary-font);
}

.dropDownMenu button:hover {
  background: var(--primary-yellow);
  color: #fff;
}

.dropDownMenu button:hover span {
  color: #fff;
}

.sortedUpArrow {
  margin-bottom: -8px;
}

.sortedDownArrow {
  margin-top: -8px;
}

/* form breadCrumb */
.breadCrumbWrapper {
  margin-bottom: 30px;
  position: relative;
}

.breadCrumbWrapper span {
  font-weight: 600;
  color: var(--primary-font);
}

.breadCrumbWrapper a {
  text-decoration: none;
}

.breadCrumbWrapper svg {
  margin: 0 10px;
}

.breadCrumbWrapper span:first-child,
.breadCrumbWrapper .secondBreadcrumb {
  color: var(--primary-yellow);
  text-transform: capitalize;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
  color: var(--primary-text);
}

.breadCrumbWrapper .activeBreadcrumb {
  font-weight: 600;
  color: var(--primary-yellow);
  cursor: pointer;
}

/* form */
.formWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
  background: #fff;
  width: 100%;
  border-radius: 6px;
  overflow-y: hidden;
}

.previewSopForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 30px 30px 30px;
  background: #fff;
  width: 100%;
  border-radius: 6px;
  overflow-y: hidden;
}

.formFieldWrapper {
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 5px;
  margin-top: 15px;
}

.formGroup {
  margin-bottom: 25px;
}

.formTitle {
  color: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.formLabel {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-font);
}

.formInputBox {
  border: 1px solid#d9d9d9;
  border-radius: 6px;
  background: #fff;
  color: var(--primary-font);
  padding: 10px 16px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.formInputBox:focus {
  border: 1px solid var(--primary-yellow);
}

.formInputBox::placeholder {
  color: var(--input-placeholder-text);
  font-weight: 400;
}

/* Firefox */
.formInputBox[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  font-size: 16px;
}

.errorFormInputBox {
  border: 1px solid var(--error-border);
  border-radius: 6px;
  background: #fff;
  color: var(--primary-font);
  padding: 10px 16px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.errorText {
  display: inline;
  color: var(--text-red);
  font-size: 14px;
  font-weight: 400;
}

.inputBoxBorder {
  border: 1px solid#d9d9d9;
  border-radius: 6px;
}

.formAlertMsg {
  color: var(--red, #eb5656);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formButtonWrapper {
  margin-top: auto;
}

.formCancelBtn {
  border-radius: 6px;
  border: 1px solid var(--primary-yellow);
  padding: 10px 20px;
  background: #fff;
  color: var(--primary-yellow);
  font-weight: 500;
  font-size: 17px;
  transition: all 300ms ease-out;
}

.formCreateBtn {
  border-radius: 6px;
  border: 1px solid var(--primary-yellow);
  padding: 10px 20px;
  color: #fff;
  background: var(--primary-yellow);
  font-weight: 500;
  font-size: 17px;
  transition: all 300ms ease-out;
}

.formCancelBtn:hover {
  border: 1px solid var(--hover-yellow);
  background: #fff;
  color: var(--hover-yellow);
  font-weight: 500;
}

.formCancelBtn:active {
  border-color: 1px solid var(--active-yellow) !important;
  background: #fff !important;
  color: var(--active-yellow) !important;
  font-weight: 500 !important;
}

.formCreateBtn:hover {
  background: var(--hover-yellow);
  border: 1px solid var(--hover-yellow);
}

.formCreateBtn:active {
  background-color: var(--active-yellow) !important;
}

.formEditDetail {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.formEditDetail button {
  border: none;
  background: transparent;
  color: var(--primary-blue);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.collapseTrash {
  position: absolute;
  right: 20px;
  top: 22px;
  cursor: pointer;
}

.collapseWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.collapseHeader {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.collapseContent {
  border-top: 1px solid var(--light-gray);
  padding: 15px;
}

/* file upload button */
.browseFile {
  display: flex;
  align-items: center;
}

.browseFile p {
  color: #adb5bd;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
  margin-bottom: 0;
  max-width: 300px;
}

.browseFile .fileName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(216, 216, 216, 0.3);
  margin-left: 15px;
  padding: 6px;
}

.browseFile .fileName p {
  margin-left: 5px;
  color: var(--primary-font);
  font-weight: 400;
}

.browseBtn {
  background: var(--primary-yellow);
  border-radius: 5px;
  border: 1px solid var(--primary-yellow);
  color: #fff;
  width: 108px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.browseBtn:hover {
  background: var(--hover-yellow);
  border: 1px solid var(--hover-yellow);
}

.browseBtn:active {
  background: var(--active-yellow);
  border: 1px solid var(--active-yellow);
}

.disabledBtn {
  background: var(--primary-yellow);
  border-radius: 5px;
  opacity: 0.3;
  border: 1px solid var(--primary-yellow);
  color: #fff;
  width: 108px;
  padding: 10px 24px;
  cursor: not-allowed;
}

.blueText {
  color: #599cff;
  font-weight: 600;
  transition: all 300ms ease-out;
}

.blueText:hover {
  color: #85b9ff;
}

.blueText:active {
  color: #235faa;
}

/* small size checkbox styles */
.smallCheckbox {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 3px solid var(--medium-gray);
  border-radius: 4px;
}

.smallCheckbox:checked {
  border: 3px solid var(--primary-yellow);
  background-size: cover;
  background-image: url("../../assets/image/smallTickIcon.jpg");
}
